<form class="filters" (ngSubmit)="submit()">
  <label>
    <span>Onde</span>
    <input type="text" name="city" [(ngModel)]="filters.city" placeholder="Curitiba" />
  </label>

  <label>
    <span>Bairro</span>
    <input type="text" name="neighborhood" [(ngModel)]="filters.neighborhood" placeholder="Centro, Batel ou Reboucas" />
  </label>

  <label>
    <span>Preco maximo</span>
    <input type="number" name="maxPrice" [(ngModel)]="filters.maxPrice" placeholder="1200" min="0" />
  </label>

  <div class="actions">
    <button type="submit">Buscar</button>
    <button type="button" class="secondary" (click)="reset()">Limpar</button>
  </div>
</form>
